<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6">



      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Bellik Maglumatlary</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
            </ul>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>





        <div class="ibox-content">
          <h3>
            Bellik Maglumatlary
          </h3>
          <br>

          <p id="notice"><%= notice %></p>

          <div><label class="col-sm-4 control-label">Umumy Paýlaşylan</label>
            <div class="col-sm-8">
              <% if (@note.isPublic) %>
                  <i class="fa fa-check" style="color: lawngreen"></i>
              <% else %>
                  <i class="fa fa-times" style="color: red"></i>
              <% end %>
            </div>
          </div>

          <br><br><br>

          <div><label class="col-sm-4 control-label">Paýlaşylan Ulanyjylar</label>
            <div class="col-sm-8">
              <i>
                <% @shared_users = User.where(:id => NotesUser.where(:note_id => @note.id).select(:user_id) ) %>

                <% if @note.isPublic %>
                    Ähli Ulanyjylar bilen Paýlaşylan ...
                <% elsif (@shared_users.count>0)%>
                    <% @shared_users.each do |us| %>
                        <%= (us.userFName.first(1)+". "+us.userLName+" / ") %>
                    <% end %>
                <% else %>
                    Hiç Ulanyjy bilen Paýlaşylmadyk ...
                <% end %>
              </i>
            </div>
          </div>

          <br><br><br>

          <div><label class="col-sm-4 control-label">Mowzugy</label>
            <div class="col-sm-8"><i><%= @note.noteSubject %></i></div>
          </div>

          <br><br><br>

          <div><label class="col-sm-4 control-label">Mazmuny</label>
            <div class="col-sm-8"><i><%= @note.noteContent %></i></div>
          </div>

          <br><br><br>

          <%= link_to 'Üýtget', edit_note_path(@note), :class => "btn btn-warning"  %> &nbsp;
          <%= link_to 'Yza', notes_path, :class => "btn btn-outline btn-success" %>


        </div>

      </div>
    </div>
  </div>
</div>