<%= form_for(@position) do |f| %>
    <% if @position.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            <h2><%= @position.errors.count %> ýalňyş sebäpli maglumatlar kabul edilmedi...</h2>

            <ul>
              <% @position.errors.each do |attr, message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>


    <div><label class="col-sm-4 control-label">Işgär</label>
      <div class="col-sm-8">
        <%= f.collection_select(:user_id, @users, :id, :full_name, :include_blank => t("Please_select"), :class => "form-control" ) %>
      </div>
    </div>

    <br><br><br>

    <div><label class="col-sm-4 control-label">Orun Belgisi</label>
      <div class="col-sm-8"><%= f.text_field :position_number, :type => "text", :class => "form-control" %></div>
    </div>

    <br><br><br>

    <div><label class="col-sm-4 control-label">Bellikler</label>
      <div class="col-sm-8"><%= f.text_area :notes, :type => "text", :class => "form-control"  %></div>
    </div>

    <div class="actions">
      <%= f.submit "Kabul Et", :class => "btn btn-success" %>
    </div>

<% end %>

