<h1>Obýekt Amallarynyň Sanawy</h1>
<%= link_to "<i class='fa fa-plus'></i>&nbsp; Täze Obýekt Amaly".html_safe, new_mod_action_path, :class => "btn btn-primary"  %>

<% if (notice) %>
    <div class="alert alert-success fade in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <p id="notice"><%= notice %></p>
    </div>
<% end %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Obýekt Amallarynyň Sanawy</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="ibox-content">

          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover dataTables-example">
              <thead>
              <tr>
                <th>Amalyň ady</th>
                <th>Degişli obýekti</th>
                <th>Bellikler</th>
                <th>Amallar</th>
              </tr>
              </thead>

              <tbody>
              <% @mod_actions.each do |ma| %>
                  <tr class="gradeA">
                    <td><%= link_to ma.modActionName, ma %></td>
                    <td><%= link_to ma.mod_object.modObjectName, ma.mod_object %></td>
                    <td><%= ma.description %></td>

                    <td><div style="float: right">
                      <%= link_to "Giňişleýin", ma, :class => "btn btn-success" %>
                      <%= link_to "Üýtget", edit_mod_action_path(ma), :class => "btn btn-warning" %>
                      <% link_to "Boz", ma, method: :delete, data: { confirm: "Are you sure ?" }, :class => "btn btn-danger" %>
                    </div></td>

                  </tr>
              <% end %>
              </tbody>
              <tfoot>
              <tr>
                <th>Amalyň ady</th>
                <th>Degişli obýekti</th>
                <th>Bellikler</th>
                <th>Amallar</th>
              </tr>
              </tfoot>

            </table>
          </div>



        </div>
      </div>
    </div>
  </div>
</div>


<br>