<%= form_for(@season_test) do |f| %>
    <% if @season_test.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            <h2><%= @season_test.errors.count %> ýalňyş sebäpli maglumatlar kabul edilmedi...</h2>

            <ul>
              <% @season_test.errors.each do |attr, message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div><label class="col-sm-4 control-label">Ady</label>
      <div class="col-sm-8"><%= f.text_field :seasonTestTitle, :type => "text", :class => "form-control"  %></div>
    </div>

    <br><br><br>

    <div><label class="col-sm-4 control-label">Tapgyry</label>
      <div class="col-sm-8">
        <%= f.collection_select(:season_id, @seasons, :id, :seasonNo, {include_blank: "Please_select"}, {class: "form-control"}) %>
      </div>
    </div>

    <br><br><br>

    <div><label class="col-sm-4 control-label">Senesi</label>
      <div class="col-sm-8"><%= f.date_select :seasonTestDate %></div>
    </div>

    <br><br><br>

    <div><label class="col-sm-4 control-label">Final ? </label>
      <div class="col-sm-8"><%= f.check_box :isFinal, :type => "checkbox", :class => "checkbox checkbox-primary", :id => "checkboxFinal" %></div>
      <label for="checkboxFinal">
      </label>
    </div>

    <br><br><br>

    <div><label class="col-sm-4 control-label">Bellikler</label>
      <div class="col-sm-8"><%= f.text_area :seasonTestNotes, :type => "text", :class => "form-control"  %></div>
    </div>

    <br><br><br>

    <div class="actions">
      <%= f.submit "Kabul Et", :class => "btn btn-success" %>
    </div>

<% end %>