<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">


    <div class="col-lg-6">

      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Role Amal Gatnaşyklary Maglumatlary</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
            </ul>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>





        <div class="ibox-content">
          <h3>
            Role Amal Gatnaşyklary Maglumatlary
          </h3>
          <br>


          <p id="notice"><%= notice %></p>

          <div><label class="col-sm-4 control-label">Role</label>
            <div class="col-sm-8"><i><%= link_to @mod_actions_role.role.name, @mod_actions_role.role %></i></div>
          </div>

          <br><br><br>

          <div><label class="col-sm-4 control-label">Amal</label>
            <div class="col-sm-8"><i><%= link_to @mod_actions_role.mod_action.modActionName, @mod_actions_role.mod_action %></i></div>
          </div>

          <br><br><br>
          <div><label class="col-sm-4 control-label">Model</label>
            <div class="col-sm-8"><i><%= link_to @mod_actions_role.mod_action.mod_object.modObjectName, @mod_actions_role.mod_action.mod_object %></i></div>
          </div>

          <br><br><br>

          <div><label class="col-sm-4 control-label">Ygtyýar</label>
            <div class="col-sm-8">
              <% if (@mod_actions_role.allowAccess) %>
                  <i class="fa fa-check" style="color: lawngreen"></i>
              <% else %>
                  <i class="fa fa-times" style="color: red"></i>
              <% end %>
            </div>
          </div>

          <br><br><br>

          <div><label class="col-sm-4 control-label">Gözegçilik</label>
            <div class="col-sm-8">
              <% if (@mod_actions_role.auditTrack) %>
                  <i class="fa fa-check" style="color: lawngreen"></i>
              <% else %>
                  <i class="fa fa-times" style="color: red"></i>
              <% end %>
            </div>
          </div>

          <br><br><br>
          <br><br><br>

          <%= link_to 'Üýtget', edit_mod_actions_role_path(@mod_actions_role), :class => "btn btn-warning"  %> &nbsp;
          <%= link_to 'Yza', mod_actions_roles_path, :class => "btn btn-outline btn-success" %>



        </div>

      </div>
    </div>


  </div>
</div>
