<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6">



      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Ders Wagtlary Maglumatlary</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
            </ul>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>


        <div class="ibox-content">
          <h3>
            Ders Wagtlary Maglumatlary
          </h3>
          <br>


          <p id="notice"><%= notice %></p>

<div><label class="col-sm-4 control-label">Ady</label>
    <div class="col-sm-8"><i><%= @lesson_time.lessonTimeTitle %></i></div>
</div>

<br><br><br>

<div><label class="col-sm-4 control-label">Başlanýan Wagty</label>
    <div class="col-sm-8"><i><%= @lesson_time.lessonTimeFrom.strftime("%H:%M") %></i></div>
</div>

<br><br><br>

<div><label class="col-sm-4 control-label">Tamamlanýan Wagty</label>
    <div class="col-sm-8"><i><%= @lesson_time.lessonTimeTo.strftime("%H:%M") %></i></div>
</div>

<br><br><br>

<div><label class="col-sm-4 control-label">Bellikler</label>
    <div class="col-sm-8"><i><%= @lesson_time.notes %></i></div>
</div>

<br><br><br>

<%= link_to 'Üýtget', edit_lesson_time_path(@lesson_time), :class => "btn btn-warning"  %> &nbsp;
<%= link_to 'Yza', lesson_times_path, :class => "btn btn-outline btn-success" %>


        </div>

      </div>
    </div>
  </div>
</div>