<%= form_for(@setting) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div><label class="col-sm-4 control-label">Sazlamanyň ady</label>
  <div class="col-sm-8"><%= f.text_field :settingName, :type => "text", :class => "form-control"  %></div>
</div>

<br><br><br>

<div><label class="col-sm-4 control-label">Sazlamanyň bahasy</label>
  <div class="col-sm-8"><%= f.text_field :settingValue, :type => "text", :class => "form-control"  %></div>
</div>

<br><br><br>

<div><label class="col-sm-4 control-label">Bellikler</label>
  <div class="col-sm-8"><%= f.text_area :notes, :type => "text", :class => "form-control"  %></div>
</div>

<br><br><br>

<div class="actions">
  <%= f.submit "Kabul Et", :class => "btn btn-success" %>
</div>

<% end %>
