<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6">



      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Ders Kategoriýanyň Maglumatlary</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
            </ul>
          </div>
        </div>


        <div class="ibox-content">
          <h3>
            Ders Kategoriýanyň Maglumatlary
          </h3>
          <br>

<p id="notice"><%= notice %></p>

<div><label class="col-sm-4 control-label">Doly Ady</label>
    <div class="col-sm-8"><i><%= @subject_category.subjectCategoryFullName %></i></div>
</div>

<br><br><br>

<div><label class="col-sm-4 control-label">Gysga Ady</label>
    <div class="col-sm-8"><i><%= @subject_category.subjectCategoryShortName %></i></div>
</div>

<br><br><br>

<div><label class="col-sm-4 control-label">Kody</label>
    <div class="col-sm-8"><i><%= @subject_category.subject_code %></i></div>
</div>

<br><br><br>

<div><label class="col-sm-4 control-label">Bellikler</label>
    <div class="col-sm-8"><i><%= @subject_category.notes %></i></div>
</div>

<br><br><br>

<%= link_to 'Üýtget', edit_subject_category_path(@subject_category), :class => "btn btn-warning"  %> &nbsp;
<%= link_to 'Yza', subject_categories_path, :class => "btn btn-outline btn-success" %>


        </div>

      </div>
    </div>


<div class="col-lg-6">

  <!-- #########################################  DERSLER PENJIRESINIŇ KODY - BAŞYNYŇ BÖLEGI - START ############################# -->

  <div class="ibox  float-e-margins">
    <div class="ibox-title" style="border-color: green">
      <h5>KATEGORIÝADAKY DEGIŞLI DERSLER </h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up" style="color: green"></i>
        </a>
      </div>
    </div>

    <div class="ibox-content" style="border-color: green">

      <!-- #########################################  DERSLER PENJIRESINIŇ KODY - BAŞYNYŇ BÖLEGI - END ############################# -->

      <!-- #########################################  DERSLER - START ############################# -->

      <!-- <h3>i</h3> -->




      <% if (Subject.where(:subject_category_id => @subject_category.id).count > 0) %>

          <div class="col-sm-2"><u><b>T/b</b></u></div>
          <div class="col-sm-3"><u><b>Ady</b></u></div>
          <div class="col-sm-2"><u><b>Ady</b></u></div>
          <div class="col-sm-2"><u><b>Bahasy</b></u></div>
          <div class="col-sm-2"><u><b>Derejesi</b></u></div>
          <br><br><br>
          <% @counter = 0 %>
          <% Subject.where(:subject_category_id => @subject_category.id).order(:subjectLevel).each do |sbj| %>
              <div>
                <div class="col-sm-2"><i><%= @counter = @counter+1 %></i></div>
                <div class="col-sm-3"><i><%= link_to sbj.subjectFullName, sbj %></i></div>
                <div class="col-sm-2"><i><%= link_to sbj.subjectShortName, sbj %></i></div>
                <div class="col-sm-2"><i><%= sbj.subjectPrice %></i></div>
                <div class="col-sm-2"><i><%= sbj.subjectLevel %></i></div>
                <br><br>
              </div>
          <% end %>

      <% else %>
          <div class="col-sm-12"><i>Bu kategoriýada hiç ders ýok !</i></div>
      <% end %>


    </div>
  </div>
</div>

<!-- #########################################  DERSLER MAGLUMATLARY - END ############################# -->


  </div>
</div>