<%= form_for(@midterm) do |f| %>
    <% if @midterm.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            <h2><%= @midterm.errors.count %> ýalňyş sebäpli maglumatlar kabul edilmedi...</h2>

            <ul>
              <% @midterm.errors.each do |attr, message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>


    <div><label class="col-sm-4 control-label">Şertnama</label>
      <div class="col-sm-8"><%= f.text_field :contract_id, :type => "text", :class => "form-control" %></div>
    </div>

    <br><br><br>

    <div><label class="col-sm-4 control-label">Arasynag Belgisi</label>
      <div class="col-sm-8"><%= f.text_field :midtermOrderNo, :type => "text", :class => "form-control" %></div>
    </div>

    <br><br><br>

    <div><label class="col-sm-4 control-label">Arasynag Bahasy</label>
      <div class="col-sm-8"><%= f.text_field :midtermPoints, :type => "text", :class => "form-control" %></div>
    </div>

    <br><br><br>

    <div><label class="col-sm-4 control-label">Rugsatly</label>
      <div class="col-sm-8"><%= f.check_box :isReleasedFrom, :type => "checkbox", :class => "checkbox checkbox-primary", :id => "checkboxProjector" %></div>
      <label for="checkboxProjector">

      </label>
    </div>

    <br><br><br>

    <div><label class="col-sm-4 control-label">Bellikler</label>
      <div class="col-sm-8"><%= f.text_area :midtermNotes, :type => "text", :class => "form-control"  %></div>
    </div>

    <br><br><br>

    <div class="actions">
      <%= f.submit "Kabul Et", :class => "btn btn-success" %>
    </div>

<% end %>

