<%= form_for(@event_type) do |f| %>
    <% if @event_type.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@event_type.errors.count, "error") %> prohibited this city from being saved:</h2>

          <ul>
            <% @event_type.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div><label class="col-sm-4 control-label">Çäre Görnüşi</label>
      <div class="col-sm-8"><%= f.text_field :event_type_title, :type => "text", :class => "form-control" %></div>
    </div>

    <br><br><br>

    <div><label class="col-sm-4 control-label">Reňk Kody</label>
      <div class="col-sm-8"><%= f.text_field :event_type_color_code, :type => "text", :class => "form-control" %></div>
    </div>

    <br><br><br>

    <div><label class="col-sm-4 control-label">Bellikler</label>
      <div class="col-sm-8"><%= f.text_area :notes, :type => "text", :class => "form-control"  %></div>
    </div>

    <br><br><br>

    <div class="actions">
      <%= f.submit "Kabul Et", :class => "btn btn-success" %>
    </div>

<% end %>