<p id="notice"><%= notice %></p>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-6">

      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Dynç Güni Maglumatlary</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li><a href="#">Config option 1</a>
              </li>
              <li><a href="#">Config option 2</a>
              </li>
            </ul>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>

        <div class="ibox-content">
          <h3>
            Dynç Güni Maglumatlary
          </h3>
          <br>

          <p id="notice"><%= notice %></p>

          <div><label class="col-sm-4 control-label">Dynç Güni Sebäbi</label>
            <div class="col-sm-8"><i><%= @off_day.off_day_title %></i></div>
          </div>

          <br><br><br>

          <div><label class="col-sm-4 control-label">Senesi</label>
            <div class="col-sm-8"><i><%= @off_day.off_day_date %></i></div>
          </div>

          <br><br><br>

          <div><label class="col-sm-4 control-label">Ýyllyk Gaýtalanýarmy: </label>
            <div class="col-sm-8">
              <% if (@off_day.is_annual) %>
                  <i class="fa fa-check" style="color: lawngreen"></i>
              <% else %>
                  <i class="fa fa-times" style="color: red"></i>
              <% end %>

            </div>
          </div>

          <br><br><br>

          <div><label class="col-sm-4 control-label">Bellikler</label>
            <div class="col-sm-8"><i><%= @off_day.notes %></i></div>
          </div>

          <br><br><br>

          <%= link_to 'Üýtget', edit_off_day_path(@off_day), :class => "btn btn-warning"  %> &nbsp;
          <%= link_to 'Yza', off_days_path, :class => "btn btn-outline btn-success" %>

        </div>
      </div>
    </div>
  </div>
</div>