<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @book_contest_participant.contract.student.first_and_last_name %>
</p>

<p>
  <strong>Bookcontest:</strong>
  <%= @book_contest_participant.book_contest.bookContestName %>
</p>

<p>
  <strong>Book:</strong>
  <%= @book_contest_participant.book_language.bookLanguageShortName %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @book_contest_participant.notes %>
</p>

<%#= link_to 'Edit', edit_book_contest_participant_path(@book_contest_participant) %>
<%#= link_to 'Back', book_contest_participants_path %>
