<%= form_for(@nationality) do |f| %>
  <% if @nationality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nationality.errors.count, "error") %> prohibited this nationality from being saved:</h2>

      <ul>
      <% @nationality.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div><label class="col-sm-4 control-label">Milletiň Ady</label>
    <div class="col-sm-8"><%= f.text_field :nationalityName, :type => "text", :class => "form-control" %></div>
</div>

<br><br><br>

<div><label class="col-sm-4 control-label">Bellikler</label>
    <div class="col-sm-8"><%= f.text_area :notes, :type => "text", :class => "form-control"  %></div>
</div>

<br><br><br>

<div class="actions">
    <%= f.submit "Kabul Et", :class => "btn btn-success" %>
</div>

<% end %>
<br>