
<div class="row">

  <div class="col-lg-5">

    <% if (current_user.teacher) %>
        <% @teacher_groups = current_user.teacher.groups.where(:season_id => session[:active_season_id]) if (current_user.teacher) %>
        <% if (@teacher_groups.count > 0) %>

            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Toparlarym</h5>
                <div class="ibox-tools">
                  <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                  </a>
                  <a class="close-link">
                    <i class="fa fa-times"></i>
                  </a>
                </div>
              </div>

              <div class="ibox-content">
                <table class="table table-hover no-margins">
                  <thead>
                  <tr>
                    <th>Toparlar</th>
                    <th>Görnüşi</th>
                    <th>Wagty</th>
                    <th>Günleri</th>
                  </tr>
                  </thead>
                  <tbody>
                  <%#= current_user.teacher.full_name %>
                  <% current_user.teacher.groups.where(:season_id => session[:active_season_id]).each do |group| %>
                      <tr>
                        <td><%= link_to group.groupTitle, group %></td>
                        <td><%= group.subject.subjectFullName %> (<%= group.group_language.groupLanguageShortName %>)</td>
                        <td><%= group.lesson_time.lessonTimeTitle %></td>
                        <td> <% @counter = 0 %>
                          <% group.timetables.order(:weekday).each do |gtt| %>
                              <%= (@counter ==0) ? "" : " - " %>
                              <%= gtt.weekday %>
                              [<%= gtt.room.roomShortTitle %>]
                              <% @counter = @counter + 1 %>
                          <% end %>
                        </td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
        <% end %>
    <% end %>


    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Dowam Edýän Tapgyr Synaglary (<%= @ongoing_season.seasonNo %>T - <%= @ongoing_season.seasonTitle %>)</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>

      <div class="ibox-content">
        <table class="table table-hover no-margins">
          <thead>
          <tr>
            <th>Senesi</th>
            <th>Synag</th>
          </tr>
          </thead>
          <tbody>

          <% if (@ongoing_season_tests.count > 0) %>

              <% @ongoing_season_tests.each do |ost| %>
                  <tr>
                    <% if (((ost.seasonTestDate - Date.today) >= 0) && ((ost.seasonTestDate - Date.today) <= 3)) %>
                        <td>
                          <span class="label label-danger" style="font-size: 11pt"> <%= ost.seasonTestDate.strftime("%d.%m.%y - %A") %> </span>
                        </td>
                        <td style="color: red; font-weight: bolder"><%= ost.seasonTestTitle %></td>
                    <% elsif (((ost.seasonTestDate - Date.today) <= 7) && ((ost.seasonTestDate - Date.today) > 3) ) %>
                        <td>
                          <span class="label label-warning" style="font-size: 11pt"> <%= ost.seasonTestDate.strftime("%d.%m.%y - %A") %>  </span>
                        </td>
                        <td style="color: orange; font-weight: bolder"><%= ost.seasonTestTitle %></td>
                    <% else %>
                        <td <% if (ost.isFinal) %> style='font-weight: bolder' <% end %> >
                          <%= ost.seasonTestDate.strftime("%d.%m.%y - %A") %>
                        </td>
                        <td <% if (ost.isFinal) %> style='font-weight: bolder' <% end %>><%= ost.seasonTestTitle %></td>
                    <% end %>
                  </tr>
              <% end %>
          <% else %>
              <tr>
                <td colspan="2">
                  Bu tapgyryň Arasynaglary we Final Synagy seneleri girizilmedik...
                </td>
              </tr>
          <% end %>

          </tbody>
        </table>
      </div>

    </div>



    <% if (@ongoing_season.id != @new_season.id) %>

      <div class="ibox float-e-margins">

        <div class="ibox-title">
          <h5>Täze Tapgyr Synaglary (<%= @new_season.seasonNo %>T - <%= @new_season.seasonTitle %>)</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>

        <div class="ibox-content">
          <table class="table table-hover no-margins">
            <thead>
            <tr>
              <th>Senesi</th>
              <th>Synag</th>
            </tr>
            </thead>
            <tbody>

            <% if (@new_season_tests.count > 0) %>

                <% @new_season_tests.each do |nst| %>
                    <tr>
                      <% if (((nst.seasonTestDate - Date.today) >= 0) && ((nst.seasonTestDate - Date.today) <= 3)) %>
                          <td>
                            <span class="label label-danger" style="font-size: 11pt"> <%= nst.seasonTestDate.strftime("%d.%m.%y - %A") %> </span>
                          </td>
                          <td style="color: red; font-weight: bolder"><%= nst.seasonTestTitle %></td>
                      <% elsif (((nst.seasonTestDate - Date.today) <= 7) && ((nst.seasonTestDate - Date.today) > 3) ) %>
                          <td>
                            <span class="label label-warning" style="font-size: 11pt"> <%= nst.seasonTestDate.strftime("%d.%m.%y - %A") %>  </span>
                          </td>
                          <td style="color: orange; font-weight: bolder"><%= nst.seasonTestTitle %></td>
                      <% else %>
                          <td <% if (nst.isFinal) %> style='font-weight: bolder' <% end %> >
                            <%= nst.seasonTestDate.strftime("%d.%m.%y - %A") %>
                          </td>
                          <td <% if (nst.isFinal) %> style='font-weight: bolder' <% end %>><%= nst.seasonTestTitle %></td>
                      <% end %>
                    </tr>
                <% end %>
            <% else %>
                <tr>
                  <td colspan="2">
                    Bu tapgyryň Arasynaglary we Final Synagy seneleri girizilmedik...
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>

      </div>

  <% end %>

    <!-- ############################# NÄSAZLYKLAR PENJIRELERI ################################ -->


    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Näsazlyklar</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>

      <div class="ibox-content">
        <ul class="list-group ">

          <!-- ################ Gaýtalanýan diňleýjiler bölegi ################ -->
          <li class="list-group-item group-item">
          <span class="pull-right">
            <%= link_to "Seret", repeating_contracts_path, :target => "_blank" %>
          </span>
            <% if (@duplicate_contracts.count > 0) %>
                <span class="label label-danger"><%= @duplicate_contracts.count %></span>
            <% else %>
                <span class="label label-primary"> <i class="fa fa-check"></i> </span>
            <% end %>
            &nbsp; Gaýtalanýan Ýazylyşyklar
          </li>

          <!-- ################ Toparsyz diňleýjiler bölegi ################ -->
          <li class="list-group-item group-item">
            <span class="pull-right">
              <%= link_to "Seret", repeating_contracts_path, :target => "_blank" %>
            </span>

            <% if (@groupless_contracts.count > 0) %>
                <span class="label label-danger"> <%= @groupless_contracts.count %> </span>
            <% else %>
                <span class="label label-primary"> <i class="fa fa-check"></i> </span>
            <% end %>
            &nbsp; Toparsyz Ýazylyşyklar
          </li>

          <!-- ################ Gaýtalanýan diňleýjiler bölegi ################ -->
          <li class="list-group-item group-item">
          <span class="pull-right">
            <%= link_to "Seret", repeating_students_path, :target => "_blank" %>
          </span>

            <% if (@duplicate_students.count > 0) %>
                <span class="label label-danger"> <%= @duplicate_students.count %> </span>
            <% else %>
                <span class="label label-primary"> <i class="fa fa-check"></i> </span>
            <% end %>
            &nbsp; Gaýtalanýan Diňleýjiler
          </li>

          <!-- ################ Suratsyz diňleýjiler bölegi ################ -->
          <% @amount = 0 %>
          <% @current_season_contracts.each do |csc| %>
              <% if (csc.student.imageUrl.blank?) %>
                  <% @amount = @amount + 1%>
              <% end %>
          <% end %>

          <li class="list-group-item group-item">
          <span class="pull-right">
            <%= link_to "Seret", photoless_report_contracts_path, :target => "_blank" %>
          </span>
            <% if (@amount > 0) %>
                <span class="label label-danger"><%= @amount %></span>
            <% else %>
                <span class="label label-primary"><i class="fa fa-check"></i></span>
            <% end %>
            &nbsp; Suratsyz Diňleýjiler
          </li>

          <!-- ################ Näsaz Telefon Belgili diňleýjiler ################ -->
          <li class="list-group-item group-item">
              <span class="pull-right">
                <%= link_to "Seret", incorrect_phones_report_contracts_path, :target => "_blank" %>
              </span>
            <% if (@students_with_incorrect_phones.count > 0) %>
                <span class="label label-danger"><%= @students_with_incorrect_phones.count %></span>
            <% else %>
                <span class="label label-primary"> <i class="fa fa-check"></i> </span>
            <% end %>
            &nbsp; Näsaz Telefon Belgili Diňleýjiler
          </li>

        </ul>
      </div>
    </div>


    <!-- ############################# NÄSAZLYKLAR PENJIRELERI ################################ -->

  <!-- ###################### ÝAZYLYŞYK MAGLUMATLARY - START #################################### -->
  <div class="ibox float-e-margins">

    <div class="ibox-title">
      <h5>Ýazylyşyk Maglumatlary</h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
        <a class="close-link">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>

    <div class="ibox-content">

      <div><label class="col-sm-8 control-label">Jemi Topar Sany</label>
        <div class="col-sm-4"><i><%= Group.where(:season_id => @current_season.id, :isClosed => false).count %></i></div>
      </div>
      <br>

      <div><label class="col-sm-8 control-label">Jemi Ýazylyşyk</label>
        <div class="col-sm-4">
          <i>
            <% @season_contracts = Contract.where(:season_id => @current_season.id) %> <%= @season_contracts.count %>
          </i>
        </div>
      </div>
      <br>

      <div><label class="col-sm-8 control-label">Gaýtarylan</label>
        <div class="col-sm-4"><i><%= @season_contracts.where(:isMoneyReturned => true).count %> (<%= ((@season_contracts.where(:isMoneyReturned => true).count.to_f / @season_contracts.count)*100).round(2) %>%)</i></div>
      </div>
      <br>

      <div><label class="col-sm-8 control-label">Jemi Okaýanlar (Ýazylyşyk-Gaýtarylan)</label>
        <div class="col-sm-4">
          <i>
            <% @this_season_contracts = Contract.where(:season_id => @current_season.id, :isMoneyReturned => false) %>
            <%= @this_season_contracts.count %>
          </i>
        </div>
      </div>
      <br>

      <div><label class="col-sm-8 control-label">Rezerw</label>
        <div class="col-sm-4"><i><%= Contract.where(:season_id => @current_season.id, :isReserve => true).count %> (<%= ((Contract.where(:season_id => @current_season.id, :isReserve => true).count.to_f) / (Contract.where(:season_id => @current_season.id, :isMoneyReturned => false).count)*100).round(2) %>%)</i></div>
      </div>
      <br>

      <div><label class="col-sm-8 control-label">Bank Amaly</label>
        <div class="col-sm-4"><i><%= Contract.where(:season_id => @current_season.id, :payment_type_id => PaymentType.find_by_paymentTypeName("BANK AMALY").id).count %></i></div>
      </div>
      <br>

      <div><label class="col-sm-8 control-label">Kart Amaly</label>
        <div class="col-sm-4"><i><%= Contract.where(:season_id => @current_season.id, :payment_type_id => PaymentType.find_by_paymentTypeName("KART AMALY").id).count %></i></div>
      </div>
      <br>

      <% if (@prev_contracts_list)%>
          <div><label class="col-sm-8 control-label">Geçen Tapgyrdan Dowam Edenler</label>
            <div class="col-sm-4"><i><%= @prev_contracts_list.count %> (<%= (@prev_contracts_list.count.to_f / (Contract.where(:season_id => @current_season.id, :isMoneyReturned => false).count)*100).round(2) %>%)</i></div>
          </div>
          <br><br>

          <div><label class="col-sm-8 control-label">Täze Ýazylanlar</label>
            <div class="col-sm-4"><i><%= ((Contract.where(:season_id => @current_season.id, :isMoneyReturned => false).count)-@prev_contracts_list.count) %></i></div>
          </div>

      <% end %>
      <br><br>

    </div>

  </div>
  <!-- ###################### ÝAZYLYŞYK MAGLUMATLARY - END #################################### -->

  <!-- ###################### DERS WAGTLARY - START #################################### -->
  <div class="ibox float-e-margins">

    <div class="ibox-title">
      <h5>Ders Wagtlary</h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
        <a class="close-link">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>

    <div class="ibox-content">
      <table class="table table-hover no-margins">
        <thead>
        <tr>
          <th>Wagty</th>
          <th>Sagatlary</th>
        </tr>
        </thead>
        <tbody>

        <% @lesson_times.each do |lt| %>
            <tr>
              <td><%= lt.lessonTimeTitle %></td>
              <td><%= lt.lessonTimeFrom.strftime("%H : %M") %> - <%= lt.lessonTimeTo.strftime("%H : %M") %></td>
            </tr>
        <% end %>

        </tbody>
      </table>
    </div>

  </div>
  <!-- ###################### DERS WAGTLARY - END #################################### -->

  <!-- ###################### ULGAMA KÖPDEN GIRMEDIK MUGALLYMLAR - START #################################### -->
  <div class="ibox float-e-margins">

    <div class="ibox-title">
      <h5>AZYNDAN 3 (ÜÇ) GÜN ULGAMA GIRMEDIK MUGALLYMLAR SANAWY</h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
        <a class="close-link">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>

    <div class="ibox-content">

      <table class="table table-hover no-margins">
        <thead>
        <tr>
          <th>T/b</th>
          <th>Mugallym</th>
          <th>Giren Senesi</th>
        </tr>
        </thead>
        <tbody>
        <% @counter = 0 %>
        <% @active_teachers.each do |teacher| %>
            <%  if (teacher.user) %>
                <% (@last_signed_in = Audit.where(:user_id => teacher.user.id, :mod_action_id => ModAction.where(:modActionName => "create", :mod_object_id => ModObject.find_by_modObjectName("user_sessions").id).first().id).order(:interactionDate).last()) %>
                <% ((@last_signed_in) ? @last_signed_in.interactionDate.strftime("%d-%m-%Y / %H:%m") : "") %>
                <% if (@last_signed_in) %>
                    <% if ((Date.today - Date.parse(@last_signed_in.interactionDate.to_s)).to_i >= 3 ) %>
                        <tr>
                          <td><%= (@counter = @counter + 1) %></td>
                          <td><%= teacher.full_name %></td>
                          <td><%= @last_signed_in.interactionDate.strftime("%d-%m-%Y / %H:%m") %></td>
                        </tr>
                    <% end %>
                <% end %>
            <% end %>

        <% end %>


        </tbody>
      </table>

    </div>

  </div>
  <!-- ###################### ULGAMA KÖPDEN GIRMEDIK MUGALLYMLAR  - END #################################### -->

  </div>


  <div class="col-lg-7">

    <!-- ################################### SENENAMA - START ##################################### -->

    <div class="ibox float-e-margins">


      <div class="ibox-title">
        <h5>Senenama</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>

      <div class="ibox-content">
        <div id="calendar"></div>
      </div>

    </div>
    <!-- ################################### SENENAMA - END ##################################### -->


    <!-- ################################### ANNOUNCEMENTS - START ##################################### -->
    <div class="ibox float-e-margins">

      <div class="ibox-title">
        <h5>Bildirişler</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>

      <% @views = AnnouncementsUser.where(:user_id => current_user.id, :announcement_id => Season.find_by_id(session[:active_season_id]).announcements.select(:id)).count %>
      <% @quantity = Season.find_by_id(session[:active_season_id]).announcements.count - @views %>

      <% if (@quantity > 0) %>
          <div class="ibox-content ibox-heading">
            <h3 style="color: dodgerblue"><i class="fa fa-envelope-o"></i> Täze Duýduryşlar (<%= (@quantity > 0) ? (@quantity) : "" %>)</h3>
            <!-- <small  style="color: dodgerblue"><i class="fa fa-tim"></i> Gözden geçirilmeli täze habarlar bar ...</small> -->
          </div>
      <% end %>

      <div class="ibox-content">
        <div class="feed-activity-list">
          <% @count = 0 %>
          <% Season.find_by_id(session[:active_season_id]).announcements.order(:created_at).limit(6).each do |ann| %>
              <% @count = @count + 1 %>
              <div class="feed-element">
                <div>
                  <small class="pull-right text-navy">
                    <a href="<%= 'http://192.168.0.200:3000/announcements/'+ann.id.to_s %>" target="_blank">
                      Giňişleýin...
                    </a>
                  </small>
                  <strong>
                    <% if (!AnnouncementsUser.find_by_user_id(current_user.id))%>
                        <div style="color: orangered">
                          <%= ann.announcementSubject.upcase %>
                        </div>
                    <% else %>
                        <%= ann.announcementSubject.upcase %>
                    <% end %>
                  </strong>
                  <div>
                    <i>
                      <%= ann.announcementBody %>
                    </i>
                  </div>
                  <small class="text-muted"> "Gujurly Nesil" Administrasiýa</small>
                  <span class="pull-right text-muted small"><%= ann.created_at.strftime("%d / %m / %y") %></span>
                </div>
              </div>

          <% end %>

          <% if (@count == 0) %>
              Bu tapgyrda şu wagta çenli hiç Bildiriş ýerleşdirilmedi.
          <% end %>

        </div>
      </div>
    </div>
    <!-- ################################### ANNOUNCEMENTS - END ##################################### -->

    <!-- ################################### BOOK_CONTESTS - START ##################################### -->
    <div class="ibox float-e-margins">

      <div class="ibox-title" style="border-color: orange">
        <h5>Kitap Ýaryşy Maglumatlary</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>

      <div class="ibox-content"  style="border-color: orange">
        <% if (!@book_contests.empty?) %>
            <% @book_contests.each do |bc| %>
                <br>
                <%= link_to bc.bookContestName, 'http://192.168.0.200:3000/book_contests/'+@book_contest.id.to_s+'/contest_info', :target => "_blank" %> ( Jemi : <%= @book_contest.book_contest_participants.count %> gatnaşyjy ) /
                <%= link_to "Gatnaşyjylar", 'http://192.168.0.200:3000/book_contests/'+@book_contest.id.to_s+'/participants', :target => "_blank" %>
                <table class="table table-hover no-margins">
                  <thead>
                  <tr>
                    <th>Ady</th>
                    <th>Awtory</th>
                    <th>Dili</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% Book.where(:id=>ContestantBook.where(:book_contest_id => bc.id).select(:book_id)).each do |book| %>
                      <tr>
                        <td><%= book.bookName %></td>
                        <td><%= Author.find_by_id(AuthorsBook.find_by_book_id(book.id).author_id).full_name %></td>
                        <td><%= book.book_language.bookLanguageShortName %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
            <% end %>
        <% else %>
            Bu tapgyrda şu wagta çenli Kitap Ýaryşy yglan edilmedi...
        <% end %>
      </div>

    </div>
    <!-- ################################### BOOK_CONTESTS - END ##################################### -->

  </div>

</div>


<div class="row border-bottom white-bg dashboard-header">

  <div class="col-sm-4">
    <h3><i class="fa fa-clipboard"></i> &nbsp; <b>Ýazylyşyklar</b></h3>
    <ul class="list-group clear-list m-t">

      <li class="list-group-item group-item">
        <!--
        <span class="pull-right">
          09:00 pm
        </span>
        -->
        <span class="label label-success">1</span> <%= link_to 'Täze Ýazylyşyk', new_contract_path %>
      </li>

      <li class="list-group-item group-item">
        <span class="label label-success">2</span> <%= link_to 'Ýazylyşyk Gözlegi', search_contracts_path %>
      </li>

      <li class="list-group-item group-item">
        <span class="label label-success">3</span> <%= link_to 'Rezerw Ýazylyşyklar', reserve_contracts_path %>
      </li>

    </ul>
  </div>

  <div class="col-sm-4">
    <h3><i class="fa fa-user"></i> &nbsp; <b>Diňleýjiler</b></h3>
    <ul class="list-group clear-list m-t">

      <li class="list-group-item group-item">
        <span class="label label-info">1</span> <%= link_to 'Täze Diňleýji', new_student_path %>
      </li>

      <li class="list-group-item group-item">
        <span class="label label-info">2</span> <%= link_to 'Diňleýji Gözlegi', search_students_path %>
      </li>

    </ul>
  </div>

  <div class="col-sm-4">
    <h3><i class="fa fa-pencil-square-o"></i> &nbsp; <b>Ders Meýilnamasy</b></h3>
    <ul class="list-group clear-list m-t">

      <li class="list-group-item group-item">
        <span class="label label-primary">1</span> <%= link_to 'Topar Orunlary', availability_groups_path %>
      </li>

      <li class="list-group-item group-item">
        <span class="label label-primary">2</span> <%= link_to 'Synp Ýagdaýlary', class_states_timetables_path %>
      </li>

      <li class="list-group-item group-item">
        <span class="label label-primary">3</span> <%= link_to 'Mugallymlar Ýerleşigi', teachers_states_timetables_path %>
      </li>

    </ul>
  </div>

</div>


<br>

<div class="row border-bottom white-bg dashboard-header">
  <div class="col-sm-4">
    <h3><i class="fa fa-list-ul"></i> &nbsp; <b>Sanawlar</b></h3>
    <ul class="list-group clear-list m-t">

      <li class="list-group-item group-item">
        <span class="label label-default">1</span> <%= link_to 'Giriş Synaglar', exams_path %>
      </li>

      <li class="list-group-item group-item">
        <span class="label label-default">2</span> <%= link_to 'Bellikler', notes_path %>
      </li>

      <li class="list-group-item group-item">
        <span class="label label-default">3</span> <%= link_to 'Toparlar', groups_path %>
      </li>

      <li class="list-group-item group-item">
        <span class="label label-default">4</span> <%= link_to 'Mugallymlar', teachers_path %>
      </li>

      <li class="list-group-item group-item">
        <span class="label label-default">5</span> <%= link_to 'Dersler', subjects_path %>
      </li>

    </ul>
  </div>


  <div class="col-sm-4">
    <h3><i class="fa fa-bar-chart-o"></i> &nbsp; <b>Hasabatlar</b></h3>
    <ul class="list-group clear-list m-t">

      <li class="list-group-item group-item">
        <span class="label label-success">1</span> <%= link_to 'Gaýtalanýan Diňleýjiler', repeating_students_path %>
      </li>

      <li class="list-group-item group-item">
        <span class="label label-success">2</span> <%= link_to 'Gaýtalanýan Ýazylyşyklar', repeating_contracts_path %>
      </li>

      <li class="list-group-item group-item">
        <span class="label label-success">3</span> <%= link_to 'Nurnabat Hasabat', general_report_contracts_path %>
      </li>

      <li class="list-group-item group-item">
        <span class="label label-success">4</span> <%= link_to 'Agaly Mugallym Ýazylyşyk Hasabat', agaly_report_contracts_path %>
      </li>

      <li class="list-group-item group-item">
        <span class="label label-success">5</span> <%= link_to 'Agaly Mugallym Toparlar Hasabat', agaly_report_groups_path %>
      </li>

      <li class="list-group-item group-item">
        <span class="label label-success">6</span> <%= link_to 'TGB Hasabat', tgb_report_contracts_path %>
      </li>

    </ul>
  </div>



  <div class="col-sm-4">
    <h3><i class="fa fa-bar-chart-o"></i> &nbsp; <b>Ýörite Hasabatlar</b></h3>
    <ul class="list-group clear-list m-t">

      <li class="list-group-item group-item">
        <span class="label label-warning">1</span> <%= link_to 'Meniň Ýazylyşyklarym', mycontractssearch_contracts_path %>
      </li>

      <li class="list-group-item group-item">
        <span class="label label-warning">2</span> <%= link_to 'Arzanladyşlar Hasabaty', discount_report_contracts_path %>
      </li>

      <li class="list-group-item group-item">
        <span class="label label-warning">3</span> <%= link_to 'Suratsyzlar Hasabaty', photoless_report_contracts_path %>
      </li>

      <li class="list-group-item group-item">
        <span class="label label-warning">4</span> <%= link_to 'Saglyk Bellikliler Hasabaty', health_notes_report_contracts_path %>
      </li>

      <li class="list-group-item group-item">
        <span class="label label-warning">5</span> <%= link_to 'Doglan Günler Hasabaty', birthdays_contracts_path %>
      </li>

      <li class="list-group-item group-item">
        <span class="label label-warning">6</span> <%= link_to 'Tapgyr Geçmeler Barada Hasabat', passers_check_report_contracts_path %>
      </li>

    </ul>
  </div>



</div>



<script>

    $(document).ready(function() {

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });

        /* initialize the external events
         -----------------------------------------------------------------*/


        $('#external-events div.external-event').each(function() {

// store data so the calendar knows to render an event upon drop
            $(this).data('event', {
                title: $.trim($(this).text()), // use the element's text as the event title
                stick: true // maintain when user navigates (see docs on the renderEvent method)
            });

// make the event draggable using jQuery UI
            $(this).draggable({
                zIndex: 1111999,
                revert: true, // will cause the event to go back to its
                revertDuration: 0 // original position after the drag
            });

        });


        /* initialize the calendar
         -----------------------------------------------------------------*/
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,listMonth'
                //right: 'month,agendaWeek,listMonth,listWeek'
            },
            views: {
                listDay: {buttonText: 'list day'},
                listWeek: {buttonText: 'list week'},
                listMonth: {buttonText: 'list month'}
            },
            //editable: true,
            //businessHours: true,
            eventLimit: false,
            firstDay: 1,
            timeFormat: 'H:mm',
            navLinks: true, // can click day/week names to navigate views.
            weekNumbers: true,
            droppable: true, // this allows things to be dropped onto the calendar
            drop: function() {
// is the "remove after drop" checkbox checked?
                if ($('#drop-remove').is(':checked')) {
// if so, remove the element from the "Draggable Events" list
                    $(this).remove();
                }
            },
            events: [

                <% if (@ongoing_season.id != @new_season.id) %>
                    <% @ongoing_season_tests.each do |st| %>
                        {
                            title: '<%= st.seasonTestTitle %>',
                            start: new Date(<%= st.seasonTestDate.year %>, <%= st.seasonTestDate.month-1 %>, <%= st.seasonTestDate.day %>),
                            allDay: true,
                            color: '#FF0000'
                        },
                    <% end %>

                    <% @new_season_tests.each do |st| %>
                        {
                            title: '<%= st.seasonTestTitle %>',
                            start: new Date(<%= st.seasonTestDate.year %>, <%= st.seasonTestDate.month-1 %>, <%= st.seasonTestDate.day %>),
                            color: '#FF0000',
                            allDay: true
                        },
                    <% end %>
                <% else %>
                    <% @ongoing_season_tests.each do |st| %>
                        {
                            title: '<%= st.seasonTestTitle %>',
                            start: new Date(<%= st.seasonTestDate.year %>, <%= st.seasonTestDate.month-1 %>, <%= st.seasonTestDate.day %>),
                            color: '#FF0000',
                            allDay: true
                        },
                    <% end %>
                <% end %>

                <% @events.each do |evt| %>
                    {
                        title: '<%= evt.event_title %>',
                        <% if ((evt.event_from_datetime.hour == evt.event_to_datetime.hour) && (evt.event_from_datetime.min == evt.event_to_datetime.min)) %>
                            start: new Date(<%= evt.event_from_datetime.year %>, <%= evt.event_from_datetime.month-1 %>, <%= evt.event_from_datetime.day %>),
                            allDay: true,
                        <% else %>
                            start: new Date(<%= evt.event_from_datetime.year %>, <%= evt.event_from_datetime.month-1 %>, <%= evt.event_from_datetime.day %>, <%= evt.event_from_datetime.hour %>, <%= evt.event_from_datetime.min %>),
                            end: new Date(<%= evt.event_to_datetime.year %>, <%= evt.event_to_datetime.month-1 %>, <%= evt.event_to_datetime.day %>, <%= evt.event_to_datetime.hour %>, <%= evt.event_to_datetime.min %>),
                        <% end %>
                        color: '<%= evt.event_type.event_type_color_code %>'
                    },
                <% end %>

                //{
                //title: 'All Day Event',
                //start: new Date(y, m, 1)
                //},
                //{
                //title: 'Long Event',
                //start: new Date(y, m, d-5),
                //end: new Date(y, m, d-2)
                //},
                //{
                //id: 999,
                //title: 'Repeating Event',
                //start: new Date(y, m, d-3, 16, 0),
                //allDay: false
                //},
                //{
                //id: 999,
                //title: 'Repeating Event',
                //start: new Date(y, m, d+4, 16, 0),
                //allDay: false
                //},
                //{
                //title: 'Meeting',
                //start: new Date(y, m, d, 10, 30),
                //allDay: false
                //},
                //{
                //title: 'Lunch',
                //start: new Date(y, m, d, 12, 0),
                //end: new Date(y, m, d, 14, 0),
                //allDay: false
                //},
                //{
                //title: 'Birthday Party',
                //start: new Date(y, m, d+1, 19, 0),
                //end: new Date(y, m, d+1, 22, 30),
                //allDay: false
                //},
                //{
                //title: 'Click for Google',
                //start: new Date(y, m, 28),
                //end: new Date(y, m, 29),
                //url: 'http://google.com/'
                //},
            ]
        });


    });

</script>
