<%= form_for(@final) do |f| %>
    <% if @final.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            <h2><%= @final.errors.count %> ýalňyş sebäpli maglumatlar kabul edilmedi...</h2>

            <ul>
              <% @final.errors.each do |attr, message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>


    <div><label class="col-sm-4 control-label">Şertnama</label>
      <div class="col-sm-8"><%= f.text_field :contract_id, :type => "text", :class => "form-control" %></div>
    </div>

    <br><br><br>

    <div><label class="col-sm-4 control-label">Final Synagy Bahasy</label>
      <div class="col-sm-8"><%= f.text_field :finalPoints, :type => "text", :class => "form-control" %></div>
    </div>

    <br><br><br>

    <div><label class="col-sm-4 control-label">Bellikler</label>
      <div class="col-sm-8"><%= f.text_area :finalNotes, :type => "text", :class => "form-control"  %></div>
    </div>

    <br><br><br>

    <div class="actions">
      <%= f.submit "Kabul Et", :class => "btn btn-success" %>
    </div>

<% end %>

